.pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.pdf-embed {
    width: 50%;
    height: 100%;
}

@media (max-width: 768px) {
    .pdf-embed {
        width: 90%;
        height: 100%;
    }
}
