.sign-in:hover {
    background-color: #b71aab;
    border-color: #b71aab;
    color: white;
}


.sign-up:hover {
    background-color: #222;
    color: #b71aab;
    border-color: #b71aab;
}

.brand {
    color: #b71aab !important;
}

.sign-up {
    background-color: #b71aab;
    border-color: #b71aab;
    color: rgba(255, 255, 255, 0.78);
}

.sign-in {
    border-color: #b71aab;
    color: #b71aab;
    margin-right: 10px;
}

.sign-in:active,
.sign-up:active {
    background-color: #b71aab !important;
    border-color: #b71aab !important;
}

.profile-icon {
    color: #b71aab;
    font-size: 2rem;
    margin-left: 20px;
    text-decoration: none;
}

.profile-icon:hover {
    color: #fff;
}
