.profile-container {
    max-width: 600px;
    margin: 120px auto;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(183, 26, 171, 0.5);
    color: #fff;
    text-align: center;
}

.welcome-container {
    margin-bottom: 20px;
}

.profile-container h1 {
    color: #b71aab;
}

.bookings-container {
    text-align: left;
    margin-bottom: 20px;
}

.booking-list {
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(183, 26, 171, 0.5);
    color: #fff;
}

.booking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.booking span {
    font-weight: bold;
}

.profile-container button {
    padding: 10px 20px;
    background-color: #b71aab;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-container button:hover {
    background-color: #8542a7;
}

/* Media queries */

@media (max-width: 768px) {
    .profile-container {
        max-width: 90%;
    }
}
