.project-container {
    display: flex;
    max-width: 60%;
    margin: 30px auto;
    padding: 30px;
    background-color: #444; /* Ciemne tło kontenera */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(183, 26, 171, 0.5); /* Cień */
}

.project-image {
    flex: 1;
}

.project-image img {
    width: 150px; /* Dostosuj wielkość zdjęcia według potrzeb */
    height: auto;
}

.project-text {
    flex: 3;
    padding-left: 20px;
}

.project-text h2 {
    margin-top: 0;
}

.project-text p {
    margin-bottom: 0;
}